APP_ENV=development
ADMOB_ANDROID_APP_ID=ca-app-pub-xxxxxxxxxxxxxxxx~xxxxxxxxxx
ADMOB_IOS_APP_ID=ca-app-pub-xxxxxxxxxxxxxxxx~xxxxxxxxxx
ADMOB_REWARDED_EXTRA_NEW_WORDS_ANDROID=ca-app-pub-xxxxxxxxxxxxxxxx/xxxxxxxxxx
ADMOB_REWARDED_EXTRA_NEW_WORDS_IOS=ca-app-pub-xxxxxxxxxxxxxxxx/xxxxxxxxxx
ADMOB_TEST_DEVICE_IDS=
