APP_ENV=development
ADMOB_ANDROID_APP_ID=ca-app-pub-xxxxxxxxxxxxxxxx~xxxxxxxxxx
ADMOB_IOS_APP_ID=ca-app-pub-xxxxxxxxxxxxxxxx~xxxxxxxxxx
ADMOB_INTERSTITIAL_SESSION_COMPLETE_ANDROID=ca-app-pub-xxxxxxxxxxxxxxxx/xxxxxxxxxx
ADMOB_INTERSTITIAL_SESSION_COMPLETE_IOS=ca-app-pub-xxxxxxxxxxxxxxxx/xxxxxxxxxx
ADMOB_TEST_DEVICE_IDS=
